<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t"about"%></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <%=t "adAbout" %>
    </p>
  </body>
</html>
