<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TMS_39 trainee</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is the project TSM_39 trainee developer for everyone.
    </p>
  </body>
</html>
