<div class="fields">
  <p>
    <%= f.hidden_field :_destroy %>
    <%= f.label :Task_name %>
    <button class="delete_fields btn btn-danger"><%= t "deleteTask" %></button>
    <%= f.text_field :name, class: "form-control" %>
  </p>
</div>
