<footer class="footer">
  <small>
    The <a href="https://www.facebook.com/">TMS_39</a>
    by <a href="https://www.google.com/">Huy Hoang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.24h.com.vn/">News</a></li>
    </ul>
  </nav>
</footer>
